* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* global styles */

:root {
  --color-1: #fdf4ff;
  --color-2: #fae8ff;
  --color-3: #f5d0fe;
  --color-4: #f0abfc;
  --color-5: #e879f9;
  --color-6: #d946ef;
  --color-7: #c026d3;
  --color-8: #a21caf;
  --color-9: #86198f;
  --color-10: #701a75;
  --color-11: #4a044e;
  --color-white: #fff;
}
.title{
  text-align: center;

}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.btn {
  background-color: var(--color-white);
  padding: 15px 15px;
  letter-spacing: 2px;
  color: var(--color-11);
  text-transform: capitalize;
}

.section-title {
  text-align: center;
  margin: 50px;
  text-transform: uppercase;
  letter-spacing: 1.7px;
}
.section-title span {
  color: var(--color-6);
}

.section-center {
  width: 90vw;
  margin: 0px auto;
}

/* nav styles */
nav {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 8px;
}
/* .nav-center {
  max-width: 1170px;
  margin: 0px auto;
} */
.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  /* width: 95vw; */
}
.nav-header .logo h1 span {
  color: var(--color-6);
}
.bars-btn {
  background-color: transparent;
  border: none;
  font-size: 40px;
  color: var(--color-6);
  transition: transform 0.5s;
}

.bars-btn:hover {
  transform: rotate(-90deg);
  cursor: pointer;
}

.links {
  /* width: 95vw; */
  margin: 0px auto;
}
ul li {
  margin: 10px 0px 0px 0px;
}
ul li a {
  color: #000;
  font-size: 20px;
  display: block;
  /* background-color: var(--color-3); */
  padding: 10px 10px;
  letter-spacing: 1.6px;
  transition: transform 2s, margin-left 1s;
}
.social-icons {
  display: none;
}
ul li a:hover {
  background-color: var(--color-3);
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .bars-btn {
    display: none;
  }
  .social-icons {
    display: flex;
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .links {
    display: flex;
    justify-content: center;
  }
  .logo h1 {
    padding: 0px;
  }
  .links a {
    /* padding-bottom: 10px; */
    padding-top: 0px;
    transition: none;
    background-color: transparent;
  }
  .links a:hover {
    background-color: transparent;
    margin-left: 0px;
    color: var(--color-5);
  }
  .social-icons a {
    padding-top: 0px;
  }
  .social-icons a:hover {
    background-color: transparent;
    color: var(--color-6);
    margin-left: 0px;
  }
}

/* hero style */
.hero {
  height: calc(100vh - 81px);
  background-color: var(--color-11);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-text {
  width: 500px;
  color: var(--color-white);
  text-align: center;
}
.hero-text h1 {
  text-transform: uppercase;
}
.hero-text p {
  margin: 15px 0px;
}
.hero-text a {
  display: inline-block;
  font-size: 20px;
  transition: background-color 0.5s, color 0.5s;
}
.hero-btn:hover {
  background-color: var(--color-3);
  color: var(--color-white);
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(#8f7d64, rgba(0, 0, 0, 0.2)),
      url("../images/heo-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* about style */
.about {
  max-width: 1170px;
  margin: 0px auto;
  margin-bottom: 50px;
}
.about-content {
  display: flex;
  /* width: 90vw; */
  /* margin: 0px auto; */
  align-items: center;
  gap: 20px;
}
.about-content .about-text h1 {
  text-transform: capitalize;
  letter-spacing: 2px;
}
.about-content .about-text p {
  margin: 15px 0px;
  color: #333;
}
.image {
  width: 500px;
  height: 365px;
  flex: 0.7;
  overflow: hidden;
}
.image img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.image img:hover {
  transform: scale(1.7);
}
.about-text {
  flex: 1;
}
.about-btn {
  background-color: var(--color-6);
  color: var(--color-white);
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .image {
    display: none;
  }
}

/* services */
.services {
  padding: 10px;
  background-color: #ebebeb;
}
.service-icon {
  text-align: center;
}
.service-icon i {
  background-color: var(--color-6);
  padding: 30px 20px;
  font-size: 25px;
  color: var(--color-white);
}
.service {
  text-align: center;
  margin-bottom: 30px;
}
.service h4 {
  margin: 15px 0px 20px 0px;
}
.service p {
  color: #333;
}
@media screen and (min-width: 786px) {
  .services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .service {
    flex-basis: calc(50% - 20px);
  }
}
@media screen and (min-width: 992px) {
  .service {
    flex-basis: calc(33.33% - 20px);
  }
}
@media screen and (min-width: 1170px) {
  .service {
    flex-basis: calc(25% - 20px);
  }
}
/* feature section */
.feature-content{
  /* display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center; */
  margin-left: 40px;
  margin-right: 40px;
  

}
.feature-content .feature img{
  width: 100%;
  height: 400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.feature-content .feature .text{

  background-color: var(--color-3);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -4px;
  margin-bottom: 30px;

}
.feature-content .feature .text h2{
padding: 10px 5px; 
  letter-spacing: 1px;
}
.feature-content .feature .text p{
margin: 10px 10px; 
}
.feature-content .feature .text button {
  background-color: transparent;
  border: none;
  padding: 10px 10px;
  text-transform: capitalize;
}
.feature-content .feature .text button a{
color: var(--color-5);
letter-spacing: 2px;

}
@media screen and (min-width: 786px) {
  .feature-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .feature {
    flex-basis: calc(50% - 20px);
  }
}
@media screen and (min-width: 992px) {
  .feature {
    flex-basis: calc(33.33% - 20px);
  }
}
@media screen and (min-width: 1170px) {
  .feature{
    flex-basis: calc(25% - 20px);
  }
}
/* @media screen and (max-width:992px) {
  .feature-content{
      flex-wrap: wrap;
  }
  .feature{
     
      flex-basis: calc(33.33% - 30px);
    
  } 
}
@media screen and (max-width:786px){
  .feature{
     
      flex-basis: calc(50% - 30px);
    
  } 
}
@media screen and (max-width:500px){
  .feature{
     
      flex-basis: calc(100% - 30px);
     
  }  */

/* gallery section */
.gallery-container{
  background-color: #ebebeb;
}
.gallery-title{
  padding-top: 40px;
}
.gallery-image{
  margin-bottom: 0px;

}
.gallery-image img{
  width: 100%;
  height: 400px;
}
.gallery-image{
}
@media screen and (min-width: 600PX){
  .gallery-content{
    display: flex;
    flex-wrap: wrap;  
    row-gap:20px;
  }
  .gallery-image {
    flex-basis: 50%;
  }

}
@media screen and (min-width: 992px) {
  .gallery-image {
    flex-basis: 33.33% ;
  }
}
@media screen and (min-width: 1170px) {
  .gallery-content{
    row-gap: 0;
  }
  .gallery-image{
    flex-basis: 25% 
  }
  .gallery-image img{
    height: 100%;
  }
}
/* form */
.form{
  background-color: #fae8ff;
  padding: 20px 20px;
  margin: 0 50px;
  
}
.form .form-name{
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  background-color: #dfdef0;
 

}
.form-email{
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  background-color: #dfdef0;
}

 .form textarea{
  width: 100%;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  background-color: #dfdef0;
  /* outline: 1px solid var(--color-10); */
}


footer{
  background-color: rgb(31, 31, 97);
  margin-top: 40px;
  text-align: center;
  height: 40px;
}
footer p{
  color: white;
  padding-top: 10px;
  
}
